<div class="main-header">
  <div class="app-image">
    <button (click)="toggleDisplay()" class="burger-menu-button">
      <div
        class="burger-menu-image"
        [inlineSVG]="'../../assets/header-assets/hamburger-menu.svg'"
      ></div>
    </button>
    <img
      class="app-logo-image"
      src="./../../assets/header-assets/main-logo.png"
      alt=""
    />
  </div>
  <div class="search-box-container">
    <div class="search-box-item">
      <input
        id="search-box-id"
        type="text"
        placeholder="Search"
        #box
        (keyup)="onTypeSearchBox(box.value)"
      />
      <button
        *ngIf="booleanSearch"
        [routerLink]="['/results']"
        [queryParams]="{ search_query: searchQuery }"
        class="search-button"
        (click)="box.value = ''"
      >
        <img
          class="search-image"
          src="./../../assets/header-assets/search-outlined.svg"
          alt=""
        />
      </button>
    </div>
    <div *ngIf="booleanSearch && checkFocus()" class="auto-complete-container">
      <div class="auto-complete" *ngFor="let i of top5Videos">
        {{ i.title }}
      </div>
    </div>
  </div>
  <div class="user-button-access">
    <button
      [routerLink]="
        ['upload-video/'] +
        (userSession.getCurrentUserDB()
          ? userSession.getCurrentUserDB().id
          : '')
      "
      *ngIf="loggedIn"
      class="add-video-button"
    >
      <div
        class="user-image-access"
        [inlineSVG]="'./../../assets/header-assets/video-plus.svg'"
      ></div>
    </button>
    <button
      *ngIf="!loggedIn"
      (click)="changeSettingsDropdownState()"
      class="settings-menu-button"
    >
      <div
        class="user-image-access"
        [inlineSVG]="'./../../assets/header-assets/overflow-menu-vertical.svg'"
      ></div>
    </button>
    <button *ngIf="loggedIn" class="settings-menu-button">
      <div
        class="user-image-access"
        [inlineSVG]="'./../../assets/header-assets/bxs-bell.svg'"
      ></div>
    </button>
    <button
      *ngIf="!loggedIn"
      (click)="changeStateLoginBox()"
      class="burger-menu-button"
    >
      <div class="sign-in-image">
        <img
          class="user-image-access"
          src="./../../assets/header-assets/profile.svg"
          alt=""
        />
        <h6>SIGN IN</h6>
      </div>
    </button>
    <button
      (click)="changeDropdownState()"
      *ngIf="loggedIn"
      class="burger-menu-button"
    >
      <div>
        <img class="user-profile-image" src="{{ user.photoUrl }}" />
      </div>
    </button>
    <div
      *ngIf="loggedIn"
      class="{{
        !dropdownDisplay ? 'user-dropdown-none' : ''
      }}  user-dropdown-menu"
    >
      <div class="user-profile-login">
        <div class="user-image">
          <img class="user-profile-image" src="{{ user.photoUrl }}" />
        </div>
        <div class="user-attribute-login">
          <div class="user-name">
            <h6>{{ user.name }}</h6>
          </div>
          <div class="user-email">
            <h6>{{ user.email }}</h6>
          </div>
        </div>
      </div>
      <hr />
      <button
        [routerLink]="[
          '/channel/' +
            (userSession.getCurrentUserDB()
              ? userSession.getCurrentUserDB().id
              : '')
        ]"
        (click)="changeDropdownState()"
        class="element-dropdown-menu"
      >
        <h6>Your Channel</h6>
      </button>
      <button
        [routerLink]="['']"
        (click)="changeSignInBoxState()"
        class="element-dropdown-menu"
      >
        <h6>Switch Account</h6>
      </button>
      <button
        [routerLink]="['/restrictioning']"
        (click)="changeRestrictionToggleState()"
        class="element-dropdown-menu"
      >
        <h6>Restrict Mode</h6>
      </button>
      <button (click)="changeShortcutState()" class="element-dropdown-menu">
        <h6>Keyboard Shortcut</h6>
      </button>
      <button
        [routerLink]="['/restrictioning']"
        (click)="changeLocationModalState()"
        class="element-dropdown-menu"
      >
        <h6>Location</h6>
      </button>
      <button
        [routerLink]="['']"
        (click)="signOut()"
        class="element-dropdown-menu"
      >
        <h6>Logout</h6>
      </button>
    </div>
    <!-- Dropdown Settings -->
    <div
      *ngIf="!loggedIn"
      class="{{
        !settingsDropdownState ? 'settings-dropdown-none' : ''
      }}  settings-dropdown-menu"
    >
      <button
        [routerLink]="['/restrictioning']"
        (click)="changeRestrictionToggleState()"
        class="element-dropdown-menu"
      >
        <h6>Restrict Mode</h6>
      </button>
      <button
        [routerLink]="['/restrictioning']"
        (click)="changeLocationModalState()"
        class="element-dropdown-menu"
      >
        <h6>Location</h6>
      </button>
      <button (click)="changeShortcutState()" class="element-dropdown-menu">
        <h6>Keyboard Shortcut</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{
    signInBoxDisplay ? 'sign-in-validation' : 'sign-in-validation-none'
  }}"
>
  <div class="validation-box">
    <div class="title">
      <h6>Are you want to manage your Google Account ?</h6>
    </div>
    <hr />
    <div class="choice">
      <button (click)="switchAccount()" class="sign-in-element">
        <h6>Yes</h6>
      </button>
      <hr />
      <button (click)="changeSignInBoxState()" class="sign-in-element">
        <h6>No</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{ loginBoxDisplay ? 'login-validation' : 'login-validation-none' }}"
>
  <div class="validation-box">
    <div class="title">
      <h6>Sign In</h6>
    </div>
    <hr />
    <div class="choice">
      <button (click)="signInWithGoogle()" class="sign-in-element">
        <h6>Yes</h6>
      </button>
      <hr />
      <button (click)="changeStateLoginBox()" class="sign-in-element">
        <h6>Cancel</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{ restrictionToggle ? 'login-validation' : 'login-validation-none' }}"
>
  <div class="validation-box">
    <div class="title">
      <h6>Manage Restriction</h6>
    </div>
    <hr />
    <div class="choice">
      <button
        [routerLink]="['']"
        (click)="restrictionOnlyKids()"
        class="sign-in-element"
      >
        <h6>Only for kids</h6>
      </button>
      <hr />
      <button
        [routerLink]="['']"
        (click)="noRestriction()"
        class="sign-in-element"
      >
        <h6>No Restriction</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{ shortcutListState ? 'login-validation' : 'login-validation-none' }}"
>
  <div class="validation-boxK">
    <div class="title">
      <h6>Keyboard Shortcut Lists</h6>
    </div>
    <hr />
    <div class="choiceK">
      <h6> j - backward 10 second</h6>
      <h6> k - play or pause video</h6>
      <h6> l - forward 10 second</h6>
      <h6> f - fullscreen mode</h6>
      <h6> ↑ - up the video volume</h6>
      <h6> ↓ - low the video volume</h6>
      <button (click)="changeShortcutState()" class="sign-in-element">
        <h6>I get it!</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{
    locationModalState ? 'login-validation' : 'login-validation-none'
  }}"
>
  <div class="validation-box">
    <div class="title">
      <h6>Choose Location</h6>
    </div>
    <hr />
    <div class="choice-location">
      <button
        [routerLink]="['']"
        (click)="changeLocationInd()"
        class="sign-in-element"
      >
        <h6>Indonesia</h6>
      </button>
      <hr />
      <button
        [routerLink]="['']"
        (click)="changeLocationHK()"
        class="sign-in-element"
      >
        <h6>Hongkong</h6>
      </button>
      <button
        [routerLink]="['']"
        (click)="changeLocationAus()"
        class="sign-in-element"
      >
        <h6>Australia</h6>
      </button>
      <button
        [routerLink]="['']"
        (click)="changeLocationChi()"
        class="sign-in-element"
      >
        <h6>China</h6>
      </button>
      <button
        [routerLink]="['']"
        (click)="changeLocationAmr()"
        class="sign-in-element"
      >
        <h6>America</h6>
      </button>
    </div>
  </div>
</div>

<div
  class="{{
    videoService.sharingState ? 'login-validation' : 'login-validation-none'
  }}"
>
  <div class="validation-box">
    <div class="title">
      <h6>Share</h6>
    </div>
    <hr />
    <button (click)="onClickShareTwitter()">
      <img
        class="image-twit"
        src="../../assets/playlist-assets/twitter-circle-filled.svg"
        alt=""
      />
    </button>
    <div class="choice-location">
      <div class="search-box-item-copy">
        <input id="inputId" type="text" placeholder="Search" />
        <button (click)="onClickSharing()" class="button-item">
          <h6>Copy</h6>
        </button>
      </div>
      <button (click)="closeShareModal()" class="sign-in-element">
        <h6>CLOSE</h6>
      </button>
    </div>
    <div *ngIf="videoService.checkBooleanTime" class="choice-locationD">
      <button (click)="onClickWithTime()" class="sign-in-element">
        <h6>With Time</h6>
      </button>
      <div class="search-box-item-time">
        <input id="inputIdTime" type="text" placeholder="0:00" />
      </div>
    </div>
  </div>
</div>

<div
  class="{{
    videoService.addPlaylistState ? 'login-validation' : 'login-validation-none'
  }}"
>
  <div class="validation-boxA">
    <div class="title">
      <h6>Add To Playlist</h6>
    </div>
    <hr />
    <div class="choice-location">
      <div
        *ngFor="let i of videoService.distinctPlaylists"
        class="sign-in-element"
      >
        <button (click)="addExistPlaylist(i)">
          <h6>
            {{ i.title }}
          </h6>
        </button>
      </div>
      <div
        *ngFor="let i of videoService.nextDistinctPlaylists"
        class="sign-in-element"
      >
        <button (click)="addExistPlaylist(i)">
          <h6>
            {{ i.title }}
          </h6>
        </button>
      </div>
      <div class="choice-location">
        <div class="search-box-item-new">
          <input
            style="margin-top: 20px; margin-bottom: 20px"
            type="text"
            placeholder="Add New Playlist"
            #box2
            (keyup)="onTypeSearchBoxTitle(box2.value)"
          />
          <button
            *ngIf="booleanAddNew"
            (click)="addNewPlaylist(); box2.value = ''"
            class="button-item"
          >
            <h6>ADD</h6>
          </button>
        </div>
        <button
          (click)="box2.value = ''; closeShareModal()"
          class="sign-in-element"
        >
          <h6>CLOSE</h6>
        </button>
      </div>
    </div>
  </div>
</div>
