.main-container {
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.video-player {
  margin-top: 10px;
  margin-left: 10px;
}

.related-video {
  padding: 10px;
  padding-left: 0;
  width: 100vw;
}

.video-detail-description,
.video-comment {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

// Font dkk
.title h6 {
  font-weight: 400;
  font-size: larger;
}

.title {
  margin-bottom: 10px;
}

.mini-description {
  margin-bottom: 10px;
}

.mini-description h6 {
  color: grey;
}
// user div
.user-container {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.user-items {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-identity {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-identity h6 {
  font-size: small;
}

.user-identity .subscriber {
  color: grey;
  font-size: small;
}

.subscribe-button {
  background-color: rgb(230, 0, 0);
  padding: 10px;
  border-radius: 2px;
}

.subscribe-button h6 {
  color: white;
}

hr {
  margin-left: 10px;
}

//description

.video-description {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.video-description h6 {
  font-size: small;
}

// comment section

.video-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  &.column {
    flex-direction: column;
  }
}

.user-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  &.expand {
    width: 100%;
  }
}

.order-form {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin-left: 15px;
}

.order-form input {
  width: 100%;
  height: 100%;
  color: grey;
  padding-top: 20px;
  border: none;
  outline: none;
}

.order-form label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid grey;
  color: grey;
}

.order-form label::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  height: 100%;
  width: 101%;
  border-bottom: 2px solid #007acc;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.order-form input:focus + .label-name .name-content,
.order-form input:valid + .label-name .name-content {
  transform: translateY(-150%);
  color: #007acc;
}

.order-form input:focus + .label-name::after,
.order-form input:valid + .label-name::after {
  transform: translateX(0%);
}

.name-content {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.4s ease;
}

input {
  background: transparent;
}

.send-button-image {
  width: 25px;
  height: 25px;
}

.send-button:hover {
  .send-button-image {
    color: #007acc;
    transition: color 300ms ease-in;
  }
}

.warning-text {
  width: 100%;
  text-align: center;
}

.public-comments h6 {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.child-comment {
  left: 50px;
  width: calc(100% - 50px);
}

.replies {
  margin: 0;
  width: 100%;
  padding-left: 60px;
  text-align: left;
  color: #005994;
}

.tab-container {
  display: flex;
  flex: 1;
  height: 5vh;
  width: 100%;
  justify-content: center;
}

.tab-item {
  width: 30%;
  padding: 10px;
  &.tab-item-focus {
    border-bottom: 2px solid rgb(44, 44, 44);
    h6 {
      color: black;
      font-weight: 500;
    }
  }
}

.tab-item h6 {
  color: rgb(87, 87, 87);
}

.tab-item:hover {
  transition: background-color 500ms ease;
  background-color: rgb(194, 194, 194);
}

.title h6 {
  transform: scale(1);
  animation: rotateButton 1500ms forwards;
}

@keyframes rotateButton {
  0% {
    transform: scale(1);
    left: 0px;
  }
  50% {
    transform: scale(1.05);
    left: 50px;
  }
  100% {
    transform: scale(1);
    left: 0px;
  }
}
