<div class="main-container">
  <div class="left-container">
    <div class="video-player">
      <video
        (click)="hotkeys()"
        id="video"
        controls
        autoplay
        src="{{ selectedVideo.video_path }}"
      ></video>
    </div>
    <div (click)="deletekeys()" class="video-detail-description">
      <div class="title">
        <h6>{{ selectedVideo.title }}</h6>
      </div>
      <div class="mini-description">
        <h6>
          Uploaded at {{ selectedVideo.upload_date }} •
          {{ selectedVideo.view_count }} views
        </h6>
      </div>
      <div class="complex-button">
        <button
          *ngIf="userSession.getCurrentUserDB() != null"
          (click)="changeAddPlaylistState()"
          class="button-item"
        >
          <h6>
            ADD TO PLAYLIST
          </h6>
        </button>
        <button (click)="changeSharingState()" class="button-item">
          <h6>
            SHARE
          </h6>
        </button>
        <button (click)="nextPlayVideo()" class="button-item">
          <h6>
            NEXT
          </h6>
        </button>
        <button
          class="button-item"
          style="background-color: rgba(2, 83, 2, 0.719);"
        >
          <h6>
            LIKE
          </h6>
        </button>
        <button
          class="button-item"
          style="background-color: rgba(117, 1, 1, 0.63);"
        >
          <h6>
            DISLIKE
          </h6>
        </button>
      </div>
    </div>
    <hr />
    <div (click)="deletekeys()" class="user-container">
      <div class="user-items">
        <button
          [routerLink]="[
            '/channel/' + (userFromPickedVideo ? userFromPickedVideo.id : '')
          ]"
        >
          <img
            class="user-image"
            src="{{
              userFromPickedVideo ? userFromPickedVideo.user_image : ''
            }}"
            alt=""
          />
        </button>
        <div class="user-identity">
          <h6>
            {{ userFromPickedVideo ? userFromPickedVideo.username : "" }}
          </h6>
          <h6 class="subscriber">{{ editViewers }} Subscribers</h6>
        </div>
      </div>
      <div class="subscibe-panel">
        <button
          *ngIf="
            (userSession.getCurrentUserDB() ? true : false) &&
            (userSession.getCurrentUserDB().id !=
            (userFromPickedVideo ? userFromPickedVideo.id : '')
              ? true
              : false)
          "
          (click)="changeSubscribeState()"
          class="subscribe-button {{
            checkSubsRelation() ? 'subscribed-button' : ''
          }}"
        >
          <h6 *ngIf="!checkSubsRelation()">SUBSCRIBE</h6>
          <h6 *ngIf="checkSubsRelation()">SUBSCRIBED</h6>
        </button>
        <button class="bell-button" *ngIf="checkSubsRelation()">
          <img src="../../../assets/header-assets/bxs-bell.svg" alt="" />
        </button>
      </div>
    </div>
    <div (click)="deletekeys()" class="video-description">
      <h6>Detail Description</h6>
      <br />
      <h6>
        {{ selectedVideo.description }}
      </h6>
    </div>
    <hr />
    <div
      (click)="deletekeys()"
      class="video-comment {{ userSession.getCurrentUser() ? 'column' : '' }}"
    >
      <div class="tab-container">
        <button
          [routerLink]="['/sending/' + videoId]"
          (click)="changeHomeState()"
          class="tab-item {{
            commentService.getSortNewState() ? 'tab-item-focus' : ''
          }}"
        >
          <h6>Newest Comments</h6>
        </button>
        <button
          [routerLink]="['/sending/' + videoId]"
          (click)="changeVideosState()"
          class="tab-item {{
            commentService.getSortLikeState() ? 'tab-item-focus' : ''
          }}"
        >
          <h6>Top Liked Comments</h6>
        </button>
      </div>
      <div
        *ngIf="userSession.getCurrentUser() ? true : false"
        class="user-comment {{ userSession.getCurrentUser() ? 'expand' : '' }}"
      >
        <img
          *ngIf="userSession.getCurrentUser()"
          class="user-image"
          src="{{ userSession.getCurrentUser().photoUrl }}"
          alt=""
        />
        <div *ngIf="userSession.getCurrentUser()" class="order-form">
          <input
            id="fullname"
            type="text"
            autocomplete="off"
            required
            #box
            (keyup)="onTypeSearchBox(box.value)"
          />
          <label for="name" class="label-name">
            <span class="name-content">Add a public comment...</span>
          </label>
        </div>
        <button
          (click)="onClickSubmitComment()"
          [routerLink]="['/sending/' + videoId]"
          *ngIf="userSession.getCurrentUser() && booleanSearch"
          class="send-button"
        >
          <div
            class="send-button-image"
            [inlineSVG]="'../../../assets/video-detail-assets/send.svg'"
          ></div>
        </button>
      </div>
    </div>
    <hr />
    <div (click)="deletekeys()" class="public-comments">
      <h6 *ngIf="commentState">
        Public Comments
      </h6>
      <h6 *ngIf="!commentState">
        There's no comment yet.
      </h6>
      <h6 *ngIf="commentState">{{ commentCount }} Comments</h6>
      <div class="parent">
        <div class="comments" *ngFor="let i of currentComments; let k = index">
          <app-comment
            *ngIf="k < lastKey"
            [comment]="i"
            [currentComments]="currentComments"
          ></app-comment>
          <button (click)="changeChildCommentState(i)">
            <h5
              *ngIf="!childCommentState[i.id] && childCommentCountState[i.id]"
              class="replies"
            >
              View {{ childCommentCount[i.id] }} reply
            </h5>
            <h5
              *ngIf="childCommentState[i.id] && childCommentCountState[i.id]"
              class="replies"
            >
              Hide {{ childCommentCount[i.id] }} reply
            </h5>
          </button>
          <div class="comments" *ngFor="let j of allComments">
            <app-comment
              class="child-comment"
              *ngIf="i.id == j.comment_parent_id && childCommentState[i.id]"
              [parentComment]="i"
              [comment]="j"
            ></app-comment>
          </div>
        </div>
      </div>
      <div class="end-point"></div>
    </div>
  </div>
  <div (click)="deletekeys()" class="separator"></div>
  <div (click)="deletekeys()" class="related-video">
    <div class="current-button">
      <button
        *ngIf="videoDetailService.autoPlayState"
        (click)="changeAutoPlayState()"
        class="button-item-other"
        style="background-color: rgba(2, 83, 2, 0.719);"
      >
        <h6>
          AUTOPLAY: ON
        </h6>
      </button>
      <button
        *ngIf="!videoDetailService.autoPlayState"
        (click)="changeAutoPlayState()"
        class="button-item-other"
        style="background-color: rgba(117, 1, 1, 0.63);"
      >
        <h6>
          AUTOPLAY: OFF
        </h6>
      </button>
    </div>
    <div *ngFor="let i of relatedVideos; let l = index">
      <app-video-renderer
        *ngIf="l < lastKeyRelated"
        [video]="i"
        [videos]="relatedVideos"
      ></app-video-renderer>
    </div>
    <div class="end-point2"></div>
  </div>
</div>
