<div class="main-container">
  <div class="left-container">
    <div class="video-player">
      <video controls autoplay src="{{ selectedVideo.video_path }}"></video>
    </div>
    <div class="video-detail-description">
      <div class="title">
        <h6>{{ selectedVideo.title }}</h6>
      </div>
      <div class="mini-description">
        <h6>
          Uploaded at {{ selectedVideo.upload_date }} •
          {{ selectedVideo.view_count }} views
        </h6>
      </div>
    </div>
    <hr />
    <div class="user-container">
      <div class="user-items">
        <button
          [routerLink]="[
            '/channel/' + (userFromPickedVideo ? userFromPickedVideo.id : '')
          ]"
        >
          <img
            class="user-image"
            src="{{
              userFromPickedVideo ? userFromPickedVideo.user_image : ''
            }}"
            alt=""
          />
        </button>
        <div class="user-identity">
          <h6>
            {{ userFromPickedVideo ? userFromPickedVideo.username : "" }}
          </h6>
          <h6 class="subscriber">
            4.2M Subscribers
          </h6>
        </div>
      </div>
      <button class="subscribe-button">
        <h6>SUBSCRIBE</h6>
      </button>
    </div>
    <div class="video-description">
      <h6>Detail Description</h6>
      <br />
      <h6>
        {{ selectedVideo.description }}
      </h6>
    </div>
    <hr />
    <div
      class="video-comment {{ userSession.getCurrentUser() ? 'column' : '' }}"
    >
      <div class="tab-container">
        <button
          [routerLink]="['/sending/' + videoId]"
          (click)="changeHomeState()"
          class="tab-item {{
            commentService.getSortNewState() ? 'tab-item-focus' : ''
          }}"
        >
          <h6>Newest Comments</h6>
        </button>
        <button
          [routerLink]="['/sending/' + videoId]"
          (click)="changeVideosState()"
          class="tab-item {{
            commentService.getSortLikeState() ? 'tab-item-focus' : ''
          }}"
        >
          <h6>Top Liked Comments</h6>
        </button>
      </div>
      <div
        *ngIf="userSession.getCurrentUser() ? true : false"
        class="user-comment {{ userSession.getCurrentUser() ? 'expand' : '' }}"
      >
        <img
          *ngIf="userSession.getCurrentUser()"
          class="user-image"
          src="{{ userSession.getCurrentUser().photoUrl }}"
          alt=""
        />
        <div *ngIf="userSession.getCurrentUser()" class="order-form">
          <input
            id="fullname"
            type="text"
            autocomplete="off"
            required
            #box
            (keyup)="onTypeSearchBox(box.value)"
          />
          <label for="name" class="label-name">
            <span class="name-content">Add a public comment...</span>
          </label>
        </div>
        <button
          (click)="onClickSubmitComment()"
          [routerLink]="['/sending/' + videoId]"
          *ngIf="userSession.getCurrentUser() && booleanSearch"
          class="send-button"
        >
          <div
            class="send-button-image"
            [inlineSVG]="'../../../assets/video-detail-assets/send.svg'"
          ></div>
        </button>
      </div>
    </div>
    <hr />
    <div class="public-comments">
      <h6 *ngIf="commentState">
        Public Comments
      </h6>
      <h6 *ngIf="!commentState">
        There's no comment yet.
      </h6>
      <h6 *ngIf="commentState">{{ commentCount }} Comments</h6>
      <div class="parent">
        <div class="comments" *ngFor="let i of currentComments; let k = index">
          <app-comment
            *ngIf="k < lastKey"
            [comment]="i"
            [currentComments]="currentComments"
          ></app-comment>
          <button (click)="changeChildCommentState(i)">
            <h5
              *ngIf="!childCommentState[i.id] && childCommentCountState[i.id]"
              class="replies"
            >
              View {{ childCommentCount[i.id] }} reply
            </h5>
            <h5
              *ngIf="childCommentState[i.id] && childCommentCountState[i.id]"
              class="replies"
            >
              Hide {{ childCommentCount[i.id] }} reply
            </h5>
          </button>
          <div class="comments" *ngFor="let j of allComments">
            <app-comment
              class="child-comment"
              *ngIf="i.id == j.comment_parent_id && childCommentState[i.id]"
              [parentComment]="i"
              [comment]="j"
            ></app-comment>
          </div>
        </div>
      </div>
      <div class="end-point"></div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="related-video">
    Dummy First
  </div>
</div>
