<div class="navbar {{ navBarClassToggle }}">
  <div class="user-section">
    <button class="home-navigation-button home-active" [routerLink]="['/']">
      <div
        class="home-image"
        [inlineSVG]="'./../../assets/navbar-assets/sharp-home.svg'"
      ></div>
      <h6 *ngIf="!display">Home</h6>
    </button>
    <button class="home-navigation-button" [routerLink]="['/trending']">
      <div
        class="fire-image"
        [inlineSVG]="'./../../assets/navbar-assets/fire.svg'"
      ></div>
      <h6 *ngIf="!display">Trending</h6>
    </button>
    <button
      [routerLink]="this.userSession.getCurrentUser() ? ['/subscription'] : ''"
      (click)="checkUserAlreadySignIn()"
      class="home-navigation-button"
    >
      <div
        class="subscription-image"
        [inlineSVG]="'./../../assets/navbar-assets/youtube-subscription.svg'"
      ></div>
      <h6 *ngIf="!display">Subscription</h6>
    </button>
  </div>
  <hr *ngIf="!display" />
  <div class="category-section">
    <button
      [routerLink]="['/category']"
      [queryParams]="{ category_query: 'music' }"
      class="home-navigation-button"
    >
      <div
        class="home-image"
        [inlineSVG]="'./../../assets/navbar-assets/round-video-library.svg'"
      ></div>
      <h6 *ngIf="!display">Categories</h6>
    </button>
    <button
      [routerLink]="
        this.userSession.getCurrentUser() ? ['/premium-membership'] : ''
      "
      (click)="checkUserAlreadySignIn()"
      class="home-navigation-button"
    >
      <div
        class="fire-image"
        [inlineSVG]="
          './../../assets/navbar-assets/baseline-card-membership.svg'
        "
      ></div>
      <h6 *ngIf="!display">Membership</h6>
    </button>
  </div>
  <hr *ngIf="!display && userSession.getCurrentUserDB()" />
  <div *ngIf="!display && userSession.getCurrentUserDB()" class="subs-section">
    <h6>SUBSCRIPTIONS</h6>
  </div>
  <div *ngFor="let i of userSession.currentSubs">
    <app-subsciptions
      *ngIf="!display"
      [user]="i"
      [users]="userSession.currentSubs"
    ></app-subsciptions>
  </div>
  <div
    *ngIf="
      (userSession.currentSubs.length + userSession.nextSubs.length > 10
        ? true
        : false) &&
      closeState &&
      !display
    "
    (click)="expandChannel()"
    class="home-navigation-button padri"
  >
    <h6>
      SHOW ALL CHANNEL
    </h6>
  </div>
  <div
    *ngIf="!closeState && !display"
    (click)="backNormal()"
    class="home-navigation-button padri"
  >
    <h6>HIDE CHANNEL</h6>
  </div>

  <hr *ngIf="!display" />
  <div class="bottom-section">
    <div class="links-section">
      <button class="links-navigation-button">
        <a href="https://www.youtube.com/about/">
          <h6 *ngIf="!display">About</h6>
        </a>
      </button>
      <button class="links-navigation-button">
        <a href="https://www.youtube.com/t/contact_us">
          <h6 *ngIf="!display">Contact us</h6>
        </a>
      </button>
      <button class="links-navigation-button">
        <a href="https://www.youtube.com/ads/">
          <h6 *ngIf="!display">Advertise</h6>
        </a>
      </button>
      <button class="links-navigation-button">
        <a
          href="https://www.youtube.com/howyoutubeworks/policies/community-guidelines/"
        >
          <h6 *ngIf="!display">Policy & Safety</h6>
        </a>
      </button>
    </div>
    <h6 class="copyright-text" *ngIf="!display">&copy; 2020 DJ20-1</h6>
  </div>
</div>

<!-- Buat Modal Subscription -->

<div
  class="{{
    subscriptionModalState ? 'login-validation' : 'login-validation-none'
  }}"
>
  <div class="validation-boxK">
    <div class="title">
      <h6>Sign In Required</h6>
    </div>
    <hr />
    <div class="choiceK">
      <h6>
        You haven't sign in yet! Sign in first!
      </h6>
      <button (click)="changeModalState()" class="sign-in-element">
        <h6>Ok</h6>
      </button>
    </div>
  </div>
</div>
