<div class="video-renderer-container">
  <button class="click-bait-button">
    <button
      [routerLink]="['/watch/' + video.id + '/0']"
      (click)="getVideoDetail()"
      class="video-section"
    >
      <img class="video-image" src="{{ video.image_path }}" alt="" />
    </button>
    <div class="video-profile">
      <button
        [routerLink]="[
          '/channel/' + (userFromPickedVideo ? userFromPickedVideo.id : '')
        ]"
        class="profile-image-container"
      >
        <img class="profile-image" src="{{ userImage }}" alt="" />
      </button>
      <div class="video-title">
        {{ editTitle }}
      </div>
    </div>
    <div class="video-description">
      {{ channelName }} • {{ editViewers }} views • Uploaded {{ editDate }} •
      {{ video.duration }}
    </div>
  </button>
</div>
<button
  *ngIf="
    (locationNow.toLowerCase().includes('playlist') == true ? false : true) &&
    userSession.getCurrentUserDB() != null
  "
  (click)="openDropdown()"
  class="button-item-action"
>
  <h6>Action</h6>
</button>
<div
  class="{{ !dropdownDisplay ? 'user-dropdown-none' : '' }}  user-dropdown-menu"
>
  <button (click)="openPlaylistModal()" class="element-dropdown-menu">
    <h6>Add To Playlist</h6>
  </button>
</div>
