<div class="video-renderer-container">
  <button class="click-bait-button">
    <button
      [routerLink]="['/watch/' + video.id]"
      (click)="getVideoDetail()"
      class="video-section"
    >
      <img class="video-image" src="{{ video.image_path }}" alt="" />
    </button>
    <div class="video-profile">
      <button
        [routerLink]="[
          '/channel/' + (userFromPickedVideo ? userFromPickedVideo.id : '')
        ]"
        class="profile-image-container"
      >
        <img class="profile-image" src="{{ userImage }}" alt="" />
      </button>
      <div class="video-title">
        {{ editTitle }}
      </div>
    </div>
    <div class="video-description">
      {{ channelName }} • {{ editViewers }} views • Uploaded {{ editDate }}
    </div>
  </button>
</div>
