<div class="video-renderer-container">
  <button class="click-bait-button">
    <button
      [routerLink]="['/playlist/' + playlist.playlist_id]"
      class="video-section"
    >
      <img class="video-image" src="{{ video.image_path }}" alt="" />
    </button>
    <div class="description-section">
      <div class="video-profile">
        <div class="video-title">
          {{ playlist.title }}
        </div>
      </div>
      <div class="profile-section">
        <button
          [routerLink]="['/channel/' + (user ? user.id : '')]"
          class="profile-image-container"
        >
          <img
            class="profile-image"
            src="{{ user ? user.user_image : '' }}"
            alt=""
          />
        </button>
        {{ user ? user.channel_name : "" }}
        <br />
      </div>
      <div class="line-description">
        <h6>{{ playlist.description }}</h6>
      </div>
      <div (click)="playAllPlaylist()" class="line-description">
        <h6>PLAY ALL PLAYLIST</h6>
      </div>
    </div>
  </button>
</div>
