<div class="comment-container">
  <div class="user-container">
    <div class="user-items">
      <button [routerLink]="['/channel/' + (comment ? comment.user_id : '')]">
        <img
          class="user-image"
          src="{{
            userFromPickedComment ? userFromPickedComment.user_image : ''
          }}"
          alt=""
        />
      </button>
      <div class="user-identity">
        <h6>
          {{ userFromPickedComment ? userFromPickedComment.username : "" }}
        </h6>
        <h6 class="subscriber">
          {{ comment.comment_value }}
        </h6>
      </div>
    </div>
  </div>
  <div class="action">
    <button
      [routerLink]="['/sending/' + videoId]"
      (click)="likeCheck()"
      class="action-button"
    >
      <img
        class="action-image"
        src="../../../../assets/comments-assets/like-outlined.svg"
        alt=""
      />
    </button>
    <div class="text">
      <h6>
        {{ comment.likes == -1 || comment.likes == 0 ? "" : comment.likes }}
      </h6>
    </div>
    <button
      [routerLink]="['/sending/' + videoId]"
      (click)="dislikeCheck()"
      class="action-button"
    >
      <img
        class="action-image"
        src="../../../../assets/comments-assets/dislike-outlined.svg"
        alt=""
      />
    </button>
    <div class="text">
      <h6>
        {{
          comment.dislikes == -1 || comment.dislikes == 0
            ? ""
            : comment.dislikes
        }}
      </h6>
    </div>
    <button (click)="changeReplyState()" class="action-button">
      <h6>REPLY</h6>
    </button>
  </div>
  <div *ngIf="actionReplyState" class="video-comment">
    <img
      *ngIf="userSession.getCurrentUser()"
      class="user-image"
      src="{{ userSession.getCurrentUser().photoUrl }}"
      alt=""
    />
    <div *ngIf="userSession.getCurrentUser()" class="order-form">
      <input
        id="fullname"
        type="text"
        autocomplete="off"
        required
        #box
        (keyup)="onTypeSearchBox(box.value)"
      />
      <label for="name" class="label-name">
        <span class="name-content">Add a public comment...</span>
      </label>
    </div>
    <button
      (click)="onClickSubmitComment()"
      [routerLink]="['/sending/' + videoId]"
      *ngIf="userSession.getCurrentUser() && booleanSearch"
      class="send-button"
    >
      <div
        class="send-button-image"
        [inlineSVG]="'../../../assets/video-detail-assets/send.svg'"
      ></div>
    </button>
    <div *ngIf="!userSession.getCurrentUser()" class="warning-text">
      <h6>
        Sign in first for comment...
      </h6>
    </div>
  </div>
</div>
