<div class="video-renderer-container">
  <button class="click-bait-button">
    <button
      [routerLink]="['/playlist/' + playlist.playlist_id]"
      class="video-section"
    >
      <img class="video-image" src="{{ video.image_path }}" alt="" />
    </button>
    <div class="video-profile">
      <div class="video-title">
        {{ playlist.title }}
      </div>
    </div>
    <div class="video-profile">
      <div class="video-description">{{ videoCount }} videos</div>
    </div>
  </button>
</div>
