<div class="channel-container">
  <img
    class="banner-image"
    src="{{
      userFromPickedChannel ? userFromPickedChannel.channel_banner : ''
    }}"
    alt=""
  />
  <div class="user-container">
    <div class="user-items">
      <img
        class="user-image"
        src="{{
          userFromPickedChannel ? userFromPickedChannel.user_image : ''
        }}"
        alt=""
      />
      <div class="user-identity">
        <h6>
          {{ userFromPickedChannel ? userFromPickedChannel.username : "" }}
        </h6>
        <h6 class="subscriber">
          4.2M Subscribers
        </h6>
      </div>
    </div>
    <div class="subscibe-panel">
      <button
        (click)="changeSubscribeState()"
        class="subscribe-button {{ subscribeState ? 'subscribed-button' : '' }}"
      >
        <h6 *ngIf="!subscribeState">SUBSCRIBE</h6>
        <h6 *ngIf="subscribeState">SUBSCRIBED</h6>
      </button>
      <button class="bell-button" *ngIf="subscribeState">
        <img src="../../../assets/header-assets/bxs-bell.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="tab-container">
    <button
      (click)="changeHomeState()"
      class="tab-item {{ homeState ? 'tab-item-focus' : '' }}"
    >
      <h6>HOME</h6>
    </button>
    <button
      (click)="changeVideosState()"
      class="tab-item {{ videosState ? 'tab-item-focus' : '' }}"
    >
      <h6>VIDEOS</h6>
    </button>
    <button
      (click)="changePlaylistState()"
      class="tab-item {{ playlistState ? 'tab-item-focus' : '' }}"
    >
      <h6>PLAYLIST</h6>
    </button>
    <button
      (click)="changeCommunityState()"
      class="tab-item {{ communityState ? 'tab-item-focus' : '' }}"
    >
      <h6>COMMUNITY</h6>
    </button>
    <button
      (click)="changeAboutState()"
      class="tab-item {{ aboutState ? 'tab-item-focus' : '' }}"
    >
      <h6>ABOUT</h6>
    </button>
  </div>
  <div class="items-container">
    <div *ngIf="homeState" class="home">
      <div class="first-section">
        <div class="sub-header">
          <h6 class="title">Recently Uploaded Videos</h6>
          <button (click)="changeVideosState()" class="see-all-videos-button">
            <h6>See All Videos</h6>
          </button>
        </div>
        <div class="first-content">
          <app-video-renderer
            *ngFor="let i of recentVideos"
            [video]="i"
            [videos]="recentVideos"
          ></app-video-renderer>
        </div>
      </div>
      <hr />
      <div class="second-section">
        <div class="sub-header">
          <h6 class="title">5 Random Videos</h6>
          <button (click)="changeVideosState()" class="see-all-videos-button">
            <h6>See All Videos</h6>
          </button>
        </div>
        <div class="first-content">
          <app-video-renderer
            *ngFor="let i of filteredVideos"
            [video]="i"
            [videos]="filteredVideos"
          ></app-video-renderer>
        </div>
      </div>
      <hr />
      <div class="third-section">
        <div class="sub-header">
          <h6 class="title">3 Random Playlist</h6>
          <button (click)="changePlaylistState()" class="see-all-videos-button">
            <h6>See All Playlist</h6>
          </button>
        </div>
        <div class="first-content"></div>
      </div>
    </div>
    <div *ngIf="videosState" class="videos">
      <div class="filtering-container">
        <button
          (click)="changeMostPopularState()"
          class="tab-item {{ mostPopularState ? 'tab-item-focus' : '' }}"
        >
          <h6>Most Popular</h6>
        </button>
        <button
          (click)="changeNewestState()"
          class="tab-item {{ newestState ? 'tab-item-focus' : '' }}"
        >
          <h6>Newest</h6>
        </button>
        <button
          (click)="changeOldestState()"
          class="tab-item {{ oldestState ? 'tab-item-focus' : '' }}"
        >
          <h6>Oldest</h6>
        </button>
      </div>
      <div class="second-section">
        <div class="sub-header">
          <h6 class="title">Channel Videos</h6>
        </div>
        <div class="parent">
          <div
            class="first-content"
            *ngFor="let i of filteredCurrentVideos; let j = index"
          >
            <app-video-renderer
              *ngIf="j < lastKey"
              [video]="i"
              [videos]="filteredCurrentVideos"
            ></app-video-renderer>
          </div>
          <div class="end-point"></div>
        </div>
      </div>
    </div>
    <div *ngIf="playlistState" class="playlist">
      this is playlist
    </div>
    <div *ngIf="communityState" class="community">
      this is community
    </div>
    <div *ngIf="aboutState" class="about">
      this is about
    </div>
  </div>
</div>
<div class="end-point"></div>
