.channel-container {
  display: flex;
  flex-direction: column;
}

.banner-image {
  width: 100%;
}

.user-container {
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  justify-content: space-between;
}

.user-items {
  display: flex;
  align-items: center;
}

.user-identity {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-identity h6 {
  font-size: larger;
}

.user-identity .subscriber {
  color: grey;
  font-size: medium;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.subscribe-button {
  background-color: rgb(230, 0, 0);
  padding: 10px;
  border-radius: 2px;
  &.subscribed-button {
    background-color: rgb(90, 88, 88);
  }
}

.subscribe-button h6 {
  color: white;
}

.items-container {
  width: 100%;
  min-height: calc(100vh - 17vh - 59px - 40.5vh);
  background-color: rgb(240, 240, 240);
  padding-left: 120px;
  padding-right: 120px;
}

.tab-container {
  display: flex;
  flex: 1;
  height: 5vh;
  width: 100%;
  justify-content: center;
}

.tab-item {
  width: 15%;
  padding: 10px;
  &.tab-item-focus {
    border-bottom: 2px solid rgb(44, 44, 44);
    h6 {
      color: black;
      font-weight: 500;
    }
  }
}

.tab-item h6 {
  color: rgb(87, 87, 87);
}

.tab-item:hover {
  transition: background-color 500ms ease;
  background-color: rgb(194, 194, 194);
}

// home page section

.home {
  display: flex;
  flex-direction: column;
}

.first-section {
  display: flex;
  flex-direction: column;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

.see-all-videos-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(0, 116, 194);
  border-radius: 2px;
}

.see-all-videos-button h6 {
  color: white;
}

.first-content {
  display: flex;
  flex-wrap: wrap;
}

.subscibe-panel {
  display: flex;
  align-items: center;
}

.bell-button {
  padding: 10px;
}
